*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "YakuHanJPs";
}
.dummy-header{
    width: 100%;
    height: clamp(77.6833px, 9.5vw, 118.5px);
}
/*************************************************************/
/* header
/*************************************************************/
header{
    width: 100%;
    position: fixed;
    z-index: 1000;
}

/*************************************************************/
/* main-header
/*************************************************************/
.main-header{
    width: 100%;
    height: clamp(50px, 6.5vw, 77px);
    background-color: #1a1311;
    display: flex;
    align-items: center;
}
.main-header-inner{
    height: 45px;
    width: 100%;
    max-width: 1400px;
    padding: 1.5rem;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main-header-logo-image{
    width: 150px;
    height: auto;
    transition: all .5s;
}
.main-header-logo-image:hover{
    filter: invert(40%);
}

/*************************************************************/
/* header-link-list
/*************************************************************/
.header-link-list{
    display: flex;
    justify-content: center;
    align-items: center;
}
.header-link-list .header-link-btn{
    color: #ffffff;
    text-decoration: none;
    transition: .5s;
    margin: 0 15px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.header-link-list .header-link-btn:hover{
    color: #9c9999;
}
.header-link-list .header-link-btn img{
    width: 30px;
}
.header-link-list .header-link-btn span{
    font-size: 10px;

}
.header-link-list a:hover{
    color: #9c9999;
}

/*************************************************************/
/* hamburgerメニュー 
/*************************************************************/
.hamburger-menu {
    top: -5px;
    right: 0px;
    width: 50px;
    height: 60px;
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    margin: 0 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4px;
    z-index: 1001;
    position: relative;
}

.hamburger-line {
    width: 60%;
    height: 3px;
    background-color: #fff;
    border-radius: 2px;
    transition: all 0.3s ease-in-out;
}
.hamburger-text{
    font-size: 10px;
    color: #fff;

    position: absolute;
    top: 75%;
    left: 50%;
    transform: translateX(-50%);
    white-space: nowrap;
}
.slide-text{
    font-size: 10px;
    color: #fff;
    opacity: 0;

    position: absolute;
    top: 75%;
    left: 50%;
    transform: translateX(-50%);
    white-space: nowrap;
}


/* アクティブ状態（Xアニメーション） */
.hamburger-menu.active{
    background: #1a1311;
}
.hamburger-menu.active .hamburger-line:nth-child(1) {
    transform: rotate(45deg) translate(4px, 4px);
}
.hamburger-menu.active .hamburger-line:nth-child(2) {
    opacity: 0;
}
.hamburger-menu.active .hamburger-line:nth-child(3) {
    transform: rotate(-45deg) translate(6px, -6px);
}
.hamburger-menu.active .hamburger-text {
    opacity: 0;
}
.hamburger-menu.active .slide-text {
    opacity: 1;
}

/*************************************************************/
/* スライドメニュー 
/*************************************************************/
.slide-menu {
    position: fixed;
    top: 0;
    right: -100%;
    width: clamp(0px, 45vw, 600px);
    height: 100vh;
    background-color: #fff;
    transition: right 0.3s ease-in-out;
    z-index: 1000;
    box-shadow: -2px 0 10px rgba(0, 0, 0, 0.1);
    overflow-y: auto;
    overflow-x: hidden;
}
.slide-menu.active {
    right: 0;
}
.slide-menu-mask{
    display: none;
    z-index: -1000;
    transition: all 0.3s ease-in-out;
}
.slide-menu-mask.active{
    display: block;
    background-color: black;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: fixed;
    opacity: 0.5;
    z-index: -1;
}

/*************************************************************/
/* slide-menu-form 
/*************************************************************/
.slide-menu-form{
    width: 100%;
    padding: 15px clamp(0px, 5vw, 60px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/*************************************************************/
/* slide-menu-title 
/*************************************************************/
.slide-menu-title{
    width: 100%;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.slide-menu-title img{
    width: clamp(76.6px, 30%, 116.6px);
}
.slide-menu-title h3{
    font-size: clamp(10px, 1.4vw, 16px);
    margin: 3px 0;
    margin-top: 2%;
}
.slide-menu-title p{
    font-size: clamp(8px, 1.2vw, 12px);
}
/*************************************************************/
/* slide-menu-mypage 
/*************************************************************/
.slide-menu-mypage{
    width: 100%;
    background-color: #f2f2f2;
    padding: 10px;
    margin: 15px;
}
.slide-menu-mypage .username-text{
    color: black;
    font-size: 16px;
    width: 100%;
    margin: 5px;
    text-align: center;
}
.slide-menu-mypage .username-text span{
    font-size: 12px;
}

.slide-menu-mypage .link-list{
    width: 100%;
    
    display: flex;
    justify-content: center;
    align-items: center;

}
.slide-menu-mypage .link-list a{
    font-size:  clamp(8px, 1.2vw, 12px);
    color: #1a1311;
    text-decoration: none;
    border: 2px solid #D0D0D0;
    background-color: white;
    padding: 0.8rem;
    margin: 10px 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.slide-menu-mypage .link-list a img{
    width: 20px;
    margin-right: 5px;
}
/*************************************************************/
/* slide-menu-login 
/*************************************************************/
.slide-menu-login .login{
    color: #fff;
    background-color: #1a1311;
}
.slide-menu-login .new{
    color: #1a1311;
    border: 1px solid #1a1311;
}


.slide-menu-login{
    width: 100%;
    margin-top: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: clamp(31.5px, 4.5vw, 48px);
    gap: 15px;
}
.slide-menu-login a{
    font-size:  clamp(8px, 1.2vw, 12px);
    text-decoration: none;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    width: 100%;
    border-radius: clamp(15.25px, 4.5vw, 24px);
}
.slide-menu-login .login{
    color: #fff;
    background-color: #1a1311;
}
.slide-menu-login .new{
    color: #1a1311;
    border: 1px solid #1a1311;
}

/*************************************************************/
/* slide-menu-list 
/*************************************************************/
.slide-menu-list{
    width: 100%;
    margin-top: clamp(0px, 3vw, 30px);
}
.slide-menu-list h3{
    font-size: clamp(8px, 1.2vw, 12px);
    font-weight: 400;
    line-height: 3vw;
    width: 100%;
}
.slide-menu-list .line{
    color: #e5e5e5;
    width: 100%;
}
.slide-menu-list .menu-list{
    list-style: none;
}
.slide-menu-list .menu-list li{
    width: 100%;
    height: clamp(32px, 5vw, 50px);
    padding-left: 20px;
    border-bottom: 1px solid #efefef;
    
    display: flex;
    align-items: center;
    position: relative;
}
.slide-menu-list .menu-list li::after{
    content: "\f105";
    font: var(--fa-font-solid);
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
}
.slide-menu-list .menu-list li a{
    font-size:  clamp(8px, 1.2vw, 12px);
    font-weight: 300;
    color: #1a1311;
    line-height: 30px;
    text-decoration: none;
    width: 100%;

    position: relative;
}
.slide-menu-list li:hover a{
    color: #9c9999;
}

/*************************************************************/
/* slide-menu-title-list
/*************************************************************/
.slide-menu-title-list{
    width: 100%;
    margin-top: 3vw;

}
.slide-menu-title-list h3{
    font-size: clamp(8px, 1.2vw, 12px);
    font-weight: 400;
    line-height: 3vw;
    width: 100%;

}
.slide-menu-title-list .line{
    color: #e5e5e5;
    width: 100%;
}

.slide-menu-title-list .menu-title-list{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.slide-menu-title-list .menu-title-list a{
    width: clamp(61px, 23%, 100px);
    height: clamp(61px, 23%, 100px);
    margin: 3px;
    border: 1px solid #e5e5e5;
    border-radius: 3px;
    background-color: #e5e5e5;
}

.slide-menu-title-list .menu-title-list a img{
    width: 100%;
    height: 100%;
}
.slide-menu-title-list .menu-title-list a img:hover{
    background-color: #fbfbfb;
}
/*************************************************************/
/* sub-header
/*************************************************************/
.sub-header{
    width: 100%;
    height: clamp(22.6833px, 4.5vw, 41.5px);
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 1px 1px 2px gray;
}

.sub-header a{
    text-decoration: none;
    color: #1a1311;
    font-size: clamp(8px, 1.2vw, 14px);
    font-weight: 900;
    margin: 0 clamp(20px, 3vw, 30px);
    white-space: nowrap;
    transition: color 0.3s ease;

}
.sub-header a:hover{
    color: #c9c7c7;
}
/*************************************************************/
/* sub-header → menu-tub
/*************************************************************/


.sub-header .menu-tub-title{
    color: #1a1311;
    font-size: clamp(8px, 1.2vw, 14px);
    font-weight: 900;
    height: clamp(22.6833px, 4.5vw, 41.5px);
    margin: 0 clamp(20px, 3vw, 30px);
    white-space: nowrap;
    line-height: clamp(22.6833px, 4.5vw, 41.5px);
    position: relative;
    cursor : pointer;

    transition: all .3s ease;
}


.sub-header .menu-tub-title:hover{
    border-bottom: 3px solid #1a1311;
}

.sub-header .sub-menu-title{
    position: absolute;
    width: 100vw;
    height: clamp(320px, 45vw, 470px);
    top: -1000px;
    left: 0;
    background-color: white;
    z-index: -1;

    display: flex;
    justify-content: center;
    align-items: center;
    transition: top 0.3s ease-in-out;
}
.sub-header .sub-menu-title.active{
    top: clamp(77.6833px, 9.5vw, 118.5px);
}


.sub-menu-title .title-list{
    margin: 0 100px;
    margin-top: 40px;
    width: clamp(520px, 80vw, 800px);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.sub-menu-title .title-list a{
    width: clamp(60px, 15vw, 150px);
    margin: 10px 10px;
}

.sub-menu-title .title-list a img{
    width: 100%;
    background-color: #f6f6f6;
    border: 1px solid #f6f6f6;
    border-radius: 10px;

    transition: background-color 0.2s ease-in-out;
}
.sub-menu-title .title-list a img:hover{
    background-color: #fbfbfb;
}



.sub-header .menu-tub-categor{
    color: #1a1311;
    font-size: clamp(8px, 1.2vw, 14px);
    font-weight: 900;
    height: clamp(22.6833px, 4.5vw, 41.5px);
    margin: 0 clamp(20px, 3vw, 30px);
    white-space: nowrap;
    line-height: clamp(22.6833px, 4.5vw, 41.5px);
    position: relative;
    cursor : pointer;

    transition: all .3s ease;
}


.sub-header .menu-tub-categor:hover{
    border-bottom: 3px solid #1a1311;
}

.sub-header .sub-menu-categor{
    position: absolute;
    width: 100vw;
    height: 30vw;
    top: -1000px;
    left: 0;
    background-color: white;
    z-index: -1;

    display: flex;
    justify-content: center;
    align-items: center;
    transition: top 0.3s ease-in-out;
}
.sub-header .sub-menu-categor.active{
    top: clamp(77.6833px, 9.5vw, 118.5px);
}


.sub-menu-categor .categor-list{
    margin: 0 40px;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.sub-menu-categor .categor-list .categor-content-list{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
}

.sub-menu-categor .categor-list .categor-content-list li{
    width: clamp(130px, 20%, 230px);
    margin: 0 2%;
    display: flex;
    align-items: center;
}
.sub-menu-categor .categor-list .categor-content-list li a{
    text-decoration: none;
    color: #1a1311;
    font-size: clamp(6px, 1.2vw, 16px);
    line-height: 2;
}


.drop-menu-mask{
    display: none;
    z-index: -1000;
    transition: all 0.3s ease-in-out;
}
.drop-menu-mask.active{
    display: block;
    background-color: black;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: fixed;
    opacity: 0.5;
    z-index: -1;
}